@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;  
}

img {
  width: 600px;
}

button {
  padding: 15px 20px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* * MY SOLUTION * */

.left-links, .right-links {
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.left-links a, .right-links a {
  text-decoration: none;
}

.left-links li, .right-links li {  
  list-style: none;
}

.container {
 height: 100vh;
 display: flex;
 flex-direction: column; 
}

.content {   
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.header, .footer{  
  padding: 10px;  
  display: flex;
  justify-content: space-between;
}

.header a, .footer a {
  color: rgb(88, 88, 88);
}

.footer {
  background-color: #ddd;  
}